.jumbotron {
    margin-bottom: 0;
    margin-top: 0;
    background-image: url(/Images/Abstract_blue_background7.jpg);
    color: #FFF;
    border-radius: 0px;
}

.jumbotron small {
    color: #FFF;
}

body {
    margin-top:0;
}

.navbar {
    border-radius: 0px;
}

.comment {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
